/*
 * Copyright 2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "fsl-imx8mq-phanbell.dts"

/ {

  sound-pcm1864 {
    compatible = "fsl,imx-audio-pcm186x";
    model = "pcm1864-audio";
    cpu-dai = <&sai1>;
    cpu-master = <1>;
		audio-codec = <&pcm1864>;

		audio-routing =
			"VINL1", "ADC1 Left Capture Source",
			"VINR1", "ADC1 Left Capture Source",
			"ADC1 Left Capture Source", "ADC1",
			"VINL2", "ADC1 Right Capture Source",
			"VINR2", "ADC1 Right Capture Source",
			"ADC1 Right Capture Source", "ADC1",
			"VINL3", "ADC2 Left Capture Source",
			"VINR3", "ADC2 Left Capture Source",
			"ADC2 Left Capture Source", "ADC2",
			"VINL4", "ADC2 Right Capture Source",
			"VINR4", "ADC2 Right Capture Source",
			"ADC2 Right Capture Source", "ADC2";
  };
};

&iomuxc {
	imx8mq-phanbell {
		pinctrl_sai1: sai1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI1_TXFS_SAI1_TX_SYNC     0xd6
				MX8MQ_IOMUXC_SAI1_TXC_SAI1_TX_BCLK      0xd6
				MX8MQ_IOMUXC_SAI1_MCLK_SAI1_MCLK        0xd6
				MX8MQ_IOMUXC_SAI1_RXD0_SAI1_RX_DATA0    0xd6
			>;
		};
	};
};

&sai1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks =
		<&clk IMX8MQ_CLK_SAI1_SRC>,
		<&clk IMX8MQ_CLK_SAI1_DIV>;
	assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <0>, <24576000>;
	status = "okay";
};

&i2c2 {
	ov5645_mipi: ov5645_mipi@3c {
		ae_target = <100>;
	};
};

&i2c3 {
	status = "okay";

	pcm1864: pcm1864@4a {
		compatible = "ti,pcm1864";
		reg = <0x4a>;
		status = "okay";
	};
};


&hdmi {
	status = "disabled";
};

&hdmi_cec {
	status = "disabled";
};

&dcss {
	status = "okay";
	disp-dev = "mipi_disp";

	clocks = <&clk IMX8MQ_CLK_DISP_APB_ROOT>,
		 <&clk IMX8MQ_CLK_DISP_AXI_ROOT>,
		 <&clk IMX8MQ_CLK_DISP_RTRM_ROOT>,
		 <&clk IMX8MQ_CLK_DC_PIXEL_DIV>,
		 <&clk IMX8MQ_CLK_DUMMY>,
		 <&clk IMX8MQ_CLK_DISP_DTRC_DIV>;
	clock-names = "apb", "axi", "rtrm", "pix_div", "pix_out", "dtrc";

	assigned-clocks = <&clk IMX8MQ_CLK_DC_PIXEL_SRC>,
			  <&clk IMX8MQ_CLK_DISP_AXI_SRC>,
			  <&clk IMX8MQ_CLK_DISP_RTRM_SRC>,
			  <&clk IMX8MQ_CLK_DISP_RTRM_PRE_DIV>,
			  <&clk IMX8MQ_VIDEO_PLL1_REF_SEL>,
			  <&clk IMX8MQ_VIDEO_PLL1>;
	assigned-clock-parents = <&clk IMX8MQ_VIDEO_PLL1_OUT>,
				 <&clk IMX8MQ_SYS1_PLL_800M>,
				 <&clk IMX8MQ_SYS1_PLL_800M>,
				 <&clk IMX8MQ_VIDEO_PLL1_OUT>,
				 <&clk IMX8MQ_CLK_25M>;
	assigned-clock-rates = <600000000>,
			       <800000000>,
			       <400000000>,
			       <400000000>,
			       <0>,
			       <599999999>;

	dcss_disp0: port@0 {
		reg = <0>;

		dcss_disp0_mipi_dsi: mipi_dsi {
			remote-endpoint = <&mipi_dsi_in>;
		};
	};
};

&mipi_dsi_phy {
	status = "okay";
};

&mipi_dsi {
	status = "okay";
	assigned-clocks = <&clk IMX8MQ_CLK_DSI_PHY_REF_SRC>,
			  <&clk IMX8MQ_CLK_DSI_CORE_SRC>,
			  <&clk IMX8MQ_VIDEO_PLL1_REF_SEL>,
			  <&clk IMX8MQ_VIDEO_PLL1>;
	assigned-clock-parents = <&clk IMX8MQ_VIDEO_PLL1_OUT>,
				 <&clk IMX8MQ_SYS1_PLL_266M>,
				 <&clk IMX8MQ_CLK_25M>;
	assigned-clock-rates = <24000000>,
			       <266000000>,
			       <0>,
			       <599999999>;

	port@1 {
		mipi_dsi_in: endpoint {
			remote-endpoint = <&dcss_disp0_mipi_dsi>;
		};
	};

};

&mipi_dsi_bridge {
	status = "okay";

	panel@0 {
		compatible = "startek,ili9488";
		reg = <0>;
		pinctrl-0 = <&pinctrl_mipi_dsi_en>;
		reset-gpio = <&gpio4 19 GPIO_ACTIVE_HIGH>;
		dsi-lanes = <1>;
		panel-width-mm = <49>;
		panel-height-mm = <74>;
		pwms = <&pwm1 0 1000000 0>;
		port {
			panel1_in: endpoint {
				remote-endpoint = <&mipi_dsi_bridge_out>;
			};
		};
	};

	port@1 {
		mipi_dsi_bridge_out: endpoint {
			remote-endpoint = <&panel1_in>;
		};
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_bl_pwm0>;
	status = "okay";
};

&i2c2 {
	status = "okay";

	focaltech@38 {
		compatible = "focaltech,fts";
		reg = <0x38>;
		pinctrl-0 = <&pinctrl_ts_int>;
		interrupt-parent = <&gpio3>;
		interrupts = <12 0x02>;
		focaltech,panel-type = <FT6236>;
		focaltech,irq-gpio = <&gpio3 12 0x02>;
		focaltech,max-touch-number = <5>;
		focaltech,display-coords =  <0 0 320 480>;
	};
};

&iomuxc {
	imx8mq-evk {
		pinctrl_mipi_dsi_en: mipi_dsi_en {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI1_TXD7_GPIO4_IO19  0x16 // reset
			>;
		};

		pinctrl_bl_pwm0: bl_pwm0 {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO01_PWM1_OUT   0x16 // backlight
			>;
		};

		pinctrl_ts_int: ts_int {
			fsl,pins = <
				MX8MQ_IOMUXC_NAND_DATA06_GPIO3_IO12   0x16 // touch screen interrupt
			>;
		};
	};
};
