/*
 * Copyright 2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "fsl-imx8mq-som.dtsi"

/ {
	firmware {
		android {
			compatible = "android,firmware";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					/* if sd, then dev = "/dev/block/platform/30b50000.usdhc/by-name/vendor"; */
					dev = "/dev/block/platform/30b40000.usdhc/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
					fsmgr_flags = "wait,slotselect,avb";
				};
			};
			vbmeta {
				/*we need use FirstStageMountVBootV2 if we enable avb*/
				compatible = "android,vbmeta";
				/*parts means the partition witch can be mount in first stage*/
				parts = "vbmeta,boot,system,vendor";
			};
		};
	};
};

/ {
	model = "Freescale i.MX8MQ Wibo";
	compatible = "fsl,imx8mq-wibo", "fsl,imx8mq";

	sound: sound {
		compatible = "fsl,imx7d-evk-wm8960",
				"fsl,imx-audio-wm8960";
	model = "wm8960-audio";
	cpu-dai = <&sai2>;
	audio-codec = <&wm8960>;
	codec-master;
	/*
	 * hp-det = <hp-det-pin hp-det-polarity>;
	 * hp-det-pin: JD1 JD2  or JD3
	 * hp-det-polarity = 0: hp detect high for headphone
	 * hp-det-polarity = 1: hp detect high for speaker
	 */
	hp-det = <2 0>;
	audio-routing =
		"Headphone Jack", "HP_L",
		"Headphone Jack", "HP_R",
		"Ext Spk", "SPK_LP",
		"Ext Spk", "SPK_LN",
		"Ext Spk", "SPK_RP",
		"Ext Spk", "SPK_RN",
		"LINPUT2", "Mic Jack",
		"LINPUT3", "Mic Jack",
		"RINPUT1", "Main MIC",
		"RINPUT2", "Main MIC",
		"Mic Jack", "MICB",
		"Main MIC", "MICB",
		"Playback", "CPU-Playback",
		"CPU-Capture", "Capture";
	};
};

&i2c2 {
  status = "okay";

	wm8960: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		status = "okay";
		clocks = <&clk IMX8MQ_CLK_SAI2_ROOT>;
		clock-names = "mclk";
		wlf,shared-lrclk;
	};
};

&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MQ_CLK_SAI2_SRC>,
			<&clk IMX8MQ_CLK_SAI2_DIV>;
	assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <0>, <24576000>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8mq-evk {
		pinctrl_sai2: sai2grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI2_TXFS_SAI2_TX_SYNC	0xd6
				MX8MQ_IOMUXC_SAI2_TXC_SAI2_TX_BCLK	0xd6
				MX8MQ_IOMUXC_SAI2_MCLK_SAI2_MCLK	0xd6
				MX8MQ_IOMUXC_SAI2_TXD0_SAI2_TX_DATA0	0xd6
				MX8MQ_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0	0xd6
			>;
		};
		pinctrl_pcie0_wibo: pcie0grp_wibo {
			fsl,pins = <
				MX8MQ_IOMUXC_NAND_CE3_B_GPIO3_IO4       0x16 /* Disable - wl_regon */
				MX8MQ_IOMUXC_NAND_CE1_B_GPIO3_IO2       0x16 /* Reset */
				MX8MQ_IOMUXC_NAND_DATA00_GPIO3_IO6      0x19
			>;
		};
		pinctrl_pcie1_wibo: pcie1grp_wibo{
			fsl,pins = <
				MX8MQ_IOMUXC_I2C4_SDA_GPIO5_IO21	0x16 /* PCIE2_nCLKREQ */
				MX8MQ_IOMUXC_ECSPI2_MOSI_GPIO5_IO11	0x16 /* PCIe_nWAKE */
				MX8MQ_IOMUXC_ECSPI2_MISO_GPIO5_IO12	0x16 /* PCIe_nRST */
				MX8MQ_IOMUXC_ECSPI2_SCLK_GPIO5_IO10	0x16
			>;
		};
	};
};

&hdmi {
	status = "okay";
};

&hdmi_cec {
	status = "okay";
};

&dcss {
	disp-dev = "hdmi_disp";
	status = "okay";
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0_wibo>;
	disable-gpio = <&gpio3 4 GPIO_ACTIVE_LOW>;
	reset-gpio = <&gpio3 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie1_wibo>;
	clkreq-gpio = <&gpio5 21 GPIO_ACTIVE_LOW>;
	power-on-gpio = <&gpio5 10 GPIO_ACTIVE_HIGH>;
	reset-gpio = <&gpio5 12 GPIO_ACTIVE_LOW>;
	ext_osc = <1>;
	status = "okay";
};
